@import "tailwindcss";

@theme {
  --font-sans: "Futura", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Futura";
  src: local('Futura Medium'), url(./static/fonts/Futura_PT_Book.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: local('Futura Bold'), url(./static/fonts/Futura_PT_Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}


html,
body {
  @apply bg-white dark:bg-gray-950;

  color-scheme: dark;
  background-color: var(--bg);

  --text: #EAE8E4;
  --alt-text: rgb(202, 202, 202);
  --bg: #0A0A09;
  --bg-accent: #202024;
  --accent: #E63946;
  --alt-accent: #C7D3DD;

  color: var(--text);
}

.header {
  margin-top: 5vh;
  width: 90vw;
  height: 8vh;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

.header-scrolled {
  position: sticky;
  top: 5vh;
  border: 2px solid var(--accent);
  border-radius: 50px;
  box-shadow: 0 0 10px var(--bg-accent);
  padding: 1em;
  backdrop-filter: blur(20px);
}

.header-item {
  color: var(--text);
}

.header-item:hover {
  color: var(--alt-text);
}

.header-title {
  margin-right: auto;
  font-weight: bold;
  display: inline;
}

.header-logo {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

h1 {
  font-size: xxx-large;

  b {
    color: var(--accent);
  }
}

h3 {
  font-size: large;
  font-weight: bold;
}

.hero {
  h2 {
    font-size: xx-large;
  }
}

.section {
  width: 80vw;
  margin-bottom: 8em;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  align-content: center;
  scroll-margin-top: 15vh;
}

.pfp {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 20vw;
  height: 20vw;
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  color: var(--text);
  background-color: var(--accent);
  border-radius: 0.5em;
  padding: 0.5em;
  text-decoration: underline;

  &:hover {
    color: var(--alt-text);
  }
  &:active {
    background-color: var(--alt-text);
    color: var(--alt-accent);
  }
}

.btn-large {
  font-size: large;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0;
  margin-left: auto;
  margin-right: auto;
}

.timeline-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.timeline-row-left {
  flex-direction: row;
}

.timeline-row-right {
  flex-direction: row-reverse;
}

.timeline-item {
  width: 50%;
  margin: 2em;
}

.timeline-item-panel {
  border-radius: 0.5em;
  background-color: var(--bg-accent);
}

.timeline-item-header {
  font-weight: bold;
  font-size: large;
  background-color: var(--accent);
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  h2 {
    margin: 0;
    font-size: x-large;
  }
}

.timeline-item-image {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-item-body {
  padding: 1em;

  h2 {
    margin: 0;
    font-size: x-large;
  }
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--alt-text);
}

.line {
  width: 2px;
  height: 100%;
}

.footer {
  margin-top: 10vh;
  margin-bottom: 3em;
  width: 90vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .section {
    display: block;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
  }

  .pfp {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }

  .timeline-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 2em;
    top: 15vh;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(20px);
    border: 2px solid var(--accent);
    border-radius: 25px;
    padding: 1em;
  }

  .dropdown-item {
    font-size: xx-large;
    text-decoration: none;
    color: var(--text);
  }
}